## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [8]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sulay\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\sulay\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sulay\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in c:\users\sulay\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sulay\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\sulay\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [9]:
# write your code here
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [10]:
# Чтение данных из файла 'titanic.csv'
# Используйте метод pd.read_csv()
# write your code here
# Чтение данных из файла 'titanic.csv'
titanic_data = pd.read_csv('titanic.csv')

# Просмотр первых нескольких строк данных
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [11]:
# Вывод первых 5 строк данных

print(titanic_data.head())

# Используйте метод .head()
# write your code here

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [12]:
import pandas as pd

# Создаем пример DataFrame
data = {
    'Имя': ['Алексей', 'Мария', 'Иван'],
    'Возраст': [25, 30, 22],
    'Город': ['Москва', 'Санкт-Петербург', 'Казань']
}

df = pd.DataFrame(data)

# Получаем информацию о DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Имя      3 non-null      object
 1   Возраст  3 non-null      int64
 2   Город    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [13]:
# Проверка на наличие NaN в DataFrame
# Используйте метод .isna()
# write your code here

nan_counts = titanic_data.isna().sum()

# Вывод количества NaN для каждого столбца
print(nan_counts)

# Проверка, есть ли NaN в DataFrame
has_nan = titanic_data.isna().any().any()

print("Есть ли NaN в DataFrame:", has_nan)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
Есть ли NaN в DataFrame: True

Заполнение NaN

In [14]:
# Заполнение NaN определенным значением (например, нулем)
# Используйте метод .fillna()
# write your code here
# Заполнение NaN нулями
titanic_data_filled = titanic_data.fillna(0)

# Вывод первых 5 строк нового DataFrame
print(titanic_data_filled.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S

Удаление строк с NaN

In [15]:
# Удаление строк, содержащих NaN
# Используйте метод .dropna()
# write your code here

titanic_data_dropped = titanic_data.dropna()

# Вывод первых 5 строк нового DataFrame
print(titanic_data_dropped.head())

# Удаление строк с NaN только в определенных столбцах
titanic_data_dropped_subset = titanic_data.dropna(subset=['Age', 'Embarked'])

# Вывод первых 5 строк нового DataFrame
print(titanic_data_dropped_subset.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
10           11         1       3
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
10      1   PP 9549  16.7000    G6        S
11      0    113783  26.5500  C103        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [16]:
# Выбор столбца по метке
# Используйте синтаксис DataFrame['название_столбца']
# write your code here

# Выбор нескольких столбцов
# Используйте синтаксис DataFrame[['столбец_1', 'столбец_2']]
# write your code here

# Выбор строк по индексу
# Используйте метод .loc[]
# write your code here

# Выбор строк и столбцов по условию
# Используя логические операции, выберите мужчин старше 30
# write your code here

# Выбор столбца 'Age'
age_column = titanic_data['Age']

# Вывод первых 5 значений столбца
print(age_column.head())

# Выбор столбцов 'Age' и 'Sex'
selected_columns = titanic_data[['Age', 'Sex']]

# Вывод первых 5 строк выбранных столбцов
print(selected_columns.head())

# Выбор первых 5 строк DataFrame
first_five_rows = titanic_data.iloc[:5]

# Вывод первых 5 строк
print(first_five_rows)

# Выбор мужчин старше 30 лет
men_over_30 = titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Age'] > 30)]

# Вывод первых 5 строк выбранных данных
print(men_over_30.head())

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64
    Age     Sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
    PassengerId  Survived  Pclass                         Name   Sex   Age  \
4             5         0       3     Allen, Mr. William Henry  male  35.0
6             7         0       1      McCarthy, Mr. Timothy J  male  54.0
13           14         0       3  Andersson, Mr. Anders Johan  male  39.0
20           21         0       2         Fynney, Mr. Joseph J  male  35.0
21           22         1       2        Beesley, Mr. Lawrence  male  34.0

    SibSp  Parch  Ticket     Fare Cabin Embarked
4       0      0  373450   8.0500   NaN        S
6       0      0   17463  51.8625   E46        S
13      1      5  347082  31.2750   NaN        S
20      0      0  239865  26.0000   NaN        S
21      0      0  248698  13.0000   D56        S

### Сортировка данных
Сортировка данных по значениям столбцов.

In [17]:
# Сортировка данных по столбцу 'столбец_1' по возрастанию
# Используйте метод .sort_values()
# write your code here

sorted_data = titanic_data.sort_values(by='столбец_1', ascending=True)


print(sorted_data.head())

KeyError: 'столбец_1'

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [18]:
# Найдите долю выживших среди всех PClass
# Используйте метод .groupby()
# write your code here
import pandas as pd

# Предположим, что ваш DataFrame называется titanic_data
# Пример: titanic_data = pd.read_csv('titanic.csv')

# Группировка данных по Pclass и вычисление доли выживших
survival_rate = titanic_data.groupby('Pclass')['Survived'].mean()

# Вывод доли выживших среди всех классов
print(survival_rate)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [19]:
import pandas as pd

# 1. Прочитать данные из файла 'titanic.csv'
df = pd.read_csv('titanic.csv')

# 2. Проверить наличие пропущенных значений и заполнить их нулями
print("Количество пропущенных значений перед заполнением:")
print(df.isnull().sum())
df.fillna(0, inplace=True)

# 3. Вывести первые 10 строк данных
print("\nПервые 10 строк данных:")
print(df.head(10))

# 4. Выбрать только те строки, где значение в столбце 'Age' больше 30
filtered_df = df[df['Age'] > 30]

# 5. Отсортировать данные по столбцу 'Fare' в порядке убывания
sorted_df = filtered_df.sort_values(by='Fare', ascending=False)

# 6. Сгруппировать данные по столбцу 'Pclass' и вычислить средний возраст ('Age') для каждого класса
average_age_by_class = df.groupby('Pclass')['Age'].mean()

# Вывод результатов
print("\nОтфильтрованные и отсортированные данные (где Age > 30):")
print(sorted_df)

print("\nСредний возраст по классам:")
print(average_age_by_class)

Количество пропущенных значений перед заполнением:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Первые 10 строк данных:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   0.0      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S
5      0            330877   8.4583     0        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750     0        S
8      2            347742  11.1333     0        S
9      0            237736  30.0708     0        C

Отфильтрованные и отсортированные данные (где Age > 30):
     PassengerId  Survived  Pclass  \
679          680         1       1
258          259         1       1
737          738         1       1
438          439         0       1
299          300         1       1
..           ...       ...     ...
806          807         0       1
263          264         0       1
822          823         0       1
597          598         0       3
179          180         0       3

                                                Name     Sex   Age  SibSp  \
679               Cardeza, Mr. Thomas Drake Martinez    male  36.0      0
258                                 Ward, Miss. Anna  female  35.0      0
737                           Lesurer, Mr. Gustave J    male  35.0      0
438                                Fortune, Mr. Mark    male  64.0      1
299  Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.0      0
..                                               ...     ...   ...    ...
806                           Andrews, Mr. Thomas Jr    male  39.0      0
263                            Harrison, Mr. William    male  40.0      0
822                  Reuchlin, Jonkheer. John George    male  38.0      0
597                              Johnson, Mr. Alfred    male  49.0      0
179                              Leonard, Mr. Lionel    male  36.0      0

     Parch    Ticket      Fare        Cabin Embarked
679      1  PC 17755  512.3292  B51 B53 B55        C
258      0  PC 17755  512.3292            0        C
737      0  PC 17755  512.3292         B101        C
438      4     19950  263.0000  C23 C25 C27        S
299      1  PC 17558  247.5208      B58 B60        C
..     ...       ...       ...          ...      ...
806      0    112050    0.0000          A36        S
263      0    112059    0.0000          B94        S
822      0     19972    0.0000            0        S
597      0      LINE    0.0000            0        S
179      0      LINE    0.0000            0        S

[305 rows x 12 columns]

Средний возраст по классам:
Pclass
1    32.923241
2    28.091467
3    18.177026
Name: Age, dtype: float64